@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Cookie&family=Josefin+Slab:wght@500&family=Lobster&family=Marck+Script&family=Satisfy&family=Sora:wght@100&display=swap');

body {
    weight: 400px;;
    height: 500px;
    background-color:#F5F5F5;
    border: 16px 16px 20px 16px;
    border-radius: 30%;

}

img{
    border-bottom: 16px;
    border-radius: 30%;
}

#tag {
    background-color: rgb(206, 154, 255);
    color: blueviolet;
    font-family: 'Sora', sans-serif;
    font-size: 10px;
}

h1 {
    font-family: 'Sora', sans-serif;
    font-size: 18px;
}
 p {
    font-family: 'Sora', sans-serif;
    font-size: 12px;
 }
